@{
    ViewData["Title"] = "Home Page";
}

<div class="field-item even" property="content:encoded"><h2>Objective of Leave Management System</h2>
<p>The main objective of the Leave Management System is to manage the details of Leave, Employee. It manages all the information about Leave, Leave Type, Leave.</p>
<h2>Features of Leave Management System are as follows:</h2>
<ul><li>Provides the searching facilities based on various factors. Such as Leave</li>
<li>It tracks all the information of Employee, Leave Type ect</li>
<li>Manage the information of Employee</li>
<li>Shows the information and description of the Leave</li>
<li>All the fields such as Leave are validated and does not take invalid values</li>
<li>To increase efficiency of managing the Leave, Employee</li>
<li>It deals with monitoring the information and transactions of Faculty.</li>
<li>Manage the information of Leave</li>
<li>Editing, adding and updating of Records is improved which results in proper resource management of Leave data.</li>
<li>Manage the information of Faculty</li>
<li>Integration of all records.</li>
</ul></div>